body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffeded; /* Light red background */
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
}

#generateInsult, #insultDisplay button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #d9534f; /* Bootstrap's button danger color for reference */
    color: white;
    border: none;
    border-radius: 20px; /* Curved edges */
    outline: none;
    font-weight: 700; /* Lato bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.hidden {
    display: none;
}


#generateInsult:hover, #insultDisplay button:hover {
    background-color: #c9302c; /* Darker shade when hovering */
}

#insultDisplay {
    font-size: 24px;
    color: #555; /* Darker text for contrast */
    margin-top: 20px;
}

#insult {
    font-family: 'Lora', serif; /* Lora Italic for the insult */
    font-style: italic;
    color: #c9302c; /* Matching the button hover color for unity */
}
